// mat-form-field{
//   width: 250px;
//   padding: 10px;
// }


mat-card-title{
  text-align:center
}
.formfield{
  width: 300px;
  padding: 10px;
}
.halfformfield{
  width: 150px;
  padding: 10px;
}
.card{
  width: 700px;
  align-content: center;
  display: inline-block;
 }
.buttondiv{
  width: 500px;
  align-content:center
}
.buttoncenter{
  margin-left: 200px;

}
.center{
  text-align: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
