// mat-form-field{
//   width: 250px;
//   padding: 10px;
// }


mat-card-title{
  text-align:center
}
.formfield{
  width: 300px;
  padding: 10px;
}
.halfformfield{
  width: 150px;
  padding: 10px;
}
.card{
  width: 700px;
  align-content: center;
  display: inline-block;
 }
.buttondiv{
  width: 500px;
  align-content:center
}
.buttoncenter{
  margin-left: 200px;

}
.center{
  text-align: center;
}
