<div class="center">
<mat-card class="card">
  <form [formGroup]="familyForm">

    <mat-card-title class="center">Family Management</mat-card-title>

    <mat-form-field>
        <mat-label>Family ID</mat-label>
        <input  formControlName ="familyid" matInput placeholder="Family ID">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Child First Name</mat-label>
        <input  formControlName ="CFN" matInput placeholder="Child First Name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Family Name</mat-label>
        <input  formControlName ="familyName" matInput placeholder="Family Name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Child Last Name</mat-label>
        <input  formControlName ="CLN" matInput placeholder="Child Last Name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input  formControlName ="firstName" matInput placeholder="First Name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>LCC Staff</mat-label>
        <input  formControlName ="lccStaff" matInput placeholder="LCC Staff">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input  formControlName ="lastName" matInput placeholder="Last Name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Account</mat-label>
        <mat-select>
          <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{status.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>

  </form>
</mat-card>
</div>

<div class="center">
  <mat-card>
    <tr>
      <th>FamilyID</th>
      <th>Family Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Sex</th>
      <th>Phone</th>
      <th>LCC Staff</th>
      <th>Account</th>
    </tr>
    <tr *ngFor="let" >

    </tr>





    <!-- <table mat-table> -->
      <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> FamilyID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Family Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container> -->

    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container> -->

    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container> -->

    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->

  <!-- <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> Sex </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
   -->
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Lcc Staff </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container> -->

    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Account </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>
   -->
    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   -->

</mat-card>

</div>




<app-familycrud></app-familycrud>
